{% extends '@User/page.html.twig' %}

{% block title %}{{ 'Log in!'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body_content %}

    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 col-md-6 offset-md-3 col-xl-4 offset-xl-4 col-xxxl-4 offset-xxxl-4 h-100">
                <div class="login">
                    <div class="login-title">
                        <h1>Новая пользовательская система</h1>
                    </div>
                    <div class="login-form">
                        {% if error %}
                            <div class="alert alert-red mb-56">
                                <div class="alert-content">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                <button type="button" data-close-alert>
                                    <i class="icon icon-times"></i>
                                </button>
                            </div>
                        {% endif %}
                        <form method="post" action="{{ path('user_check') }}">
                            <div class="field">
                                <label for="login">Логин</label>
                                <div class="field-icon field-icon-prefix">
                                    <input name="username" value="" placeholder="Введите логин" id="login">
                                    <i class="icon icon-user field-icon-start"></i>
                                </div>
                            </div>
                            <div class="field">
                                <label for="password">Пароль</label>
                                <div class="field-icon field-icon-both">
                                    <i class="icon icon-lock field-icon-start"></i>
                                    <input type="password" name="password" value="" placeholder="Введите пароль" id="password">
                                    <button type="button" class="field-button field-button-end" data-toggle-password>
                                        <i class="icon icon-eye"></i>
                                    </button>
                                </div>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <input type="hidden" name="challenge" value="{% if challenge is defined %}{{ challenge }}{% endif %}">

                            <button type="submit" class="button button-solid button-primary w-100">Войти</button>
                        </form>
                    </div>
                    <div class="login-reset">
                        <a href="#">Зарегистрироваться</a>
                        <a href="#">Забыли пароль?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}